body{
    background-color: rgb(254, 2, 254);
    text-align: center;
}
h1{
    font-family: Berkshire Swash;
    font-size: 5rem;
    margin: 1rem auto 0 auto;
    /* color: darkblue; */
    color: white;
}
.select{
    box-shadow: inset;
    border: 3px solid black;
    background-color: rgb(251, 145, 145);
}
button{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 40px;
    background-color: rgb(254, 102, 102);
    color: black;
}
button:hover{
    cursor: pointer;
}
.para{
    display: inline-block;
    width: 13rem;
    text-align: center;
    margin: 1rem 1rem 0 1rem;
    font-family: Calisto MT;
    font-size: 1.8rem;
    /* color: black; */
}
.box{
    height: 18rem;
    width: 32rem;
    margin: 2rem auto 1.5rem auto;
}
img{
    display: inline-block;
    width: 13rem;
    margin:1rem 1rem ;
    border-radius: 1rem;
}

p{
    font-size: 2rem;
    font-family: candara;
    clear: both;
    margin-top: 1.2rem;
    color: darkblue;
}
